body {
	padding: 0;
	margin: 0;
}
header {
	height: 300px;
	display: grid;
	align-content: center;
	background-color: #f1f2ff;
}
p {
	line-height: 2;
	font-size: 21px;
	font-family: sans-serif;
}
nav {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}
nav div {
	border: 1px solid #000;
	flex: 1;
}
footer {
	display: flex;
	gap: 1rem;
	background-color: black;
	color: white;
}
header, main, footer {
	padding: 0 100px;
}
.active {
	background-color: #f66;
}